# Path...
export PATH="$(brew --prefix php@7.4)/bin:$PATH" # Add Homebrew PHP
export PATH="$HOME/.composer/vendor/bin:$PATH" # Add Composer bin
export PATH="vendor/bin:$PATH" # Add local project Composer bin
export PATH="./node_modules/.bin:$PATH" # Add Node modules local bin
export PATH="$PATH:$HOME/go/bin" # Golang bin
export PATH="$PATH:$HOME/Code/dotfiles/bin" # Local files
export PATH="$HOME/Code/bin:$PATH"

# Xdebug...
export XDEBUG_CONFIG="idekey=VSCODE"

# AWS EC2 tools...
export EC2_HOME=~/bin/ec2-api-tools
export EC2_URL=https://ec2.us-east-1.amazonaws.com
export AWS_DEFAULT_REGION=us-east-1

# Editor...
export EDITOR="/usr/local/bin/code -w -n"

###

# Term...
export TERM="xterm-256color"

# Prefer US English and use UTF-8...
export LANG="en_US.UTF-8"
export LC_ALL="en_US.UTF-8"

# Always enable colored `grep` output...
export GREP_OPTIONS="--color=auto"
