# Timetrap functions...

function ts() {
    t out
    t s $1
    shift
    t in $@
}

function tt() {
    t -v today all
}

function tp() {
    t -v -r today all
}

function ttodaycommit() {
    t today all -v -r -f tempo
}

function tcommit() {
    t display --start "$1" --end "$1" all -v -r -f tempo
}

function tyesterdaycommit() {
    t yesterday all -v -r -f tempo
}

# Kubernetes...

function ktoken() {
    kubectl describe secret -n kube-system $(kubectl get secrets -n kube-system | grep default | cut -f1 -d ' ') | grep -E '^token' | cut -f2 -d':' | tr -d '\t' | tr -d " "
}

function kapiurl() {
    kubectl config view | grep https | cut -f 2- -d ":" | tr -d " "
}

function mkup {
    mk start --cache-images=true
}


# Generic...

function anybar {
    echo -n $1 | nc -4u -w0 localhost ${2:-1738};
}
